<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="tuvima-wikidata-local"
         value="C:\Users\shaya\OneDrive\Documents\Source\Repos\tuvima-wikidata\artifacts" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="tuvima-wikidata-local">
      <package pattern="Tuvima.Wikidata*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
