@namespace MediaEngine.Web.Components.Details
@using MediaEngine.Contracts.Details

<AppNativeButton Type="button" Class="tl-related-chip">
    <span>@Chip.Label</span>
</AppNativeButton>

@code {
    [Parameter, EditorRequired] public MediaEngine.Contracts.Details.RelatedEntityChip Chip { get; set; } = default!;
}
