@namespace MediaEngine.Web.Components.Details
@using MediaEngine.Contracts.Details

@if (!string.IsNullOrWhiteSpace(Chip.Route))
{
    <a class="tl-related-chip tl-related-chip--link" href="@Chip.Route">
        <span>@Chip.Label</span>
    </a>
}
else
{
    <span class="tl-related-chip tl-related-chip--static" aria-disabled="true">
        <span>@Chip.Label</span>
    </span>
}

@code {
    [Parameter, EditorRequired] public MediaEngine.Contracts.Details.RelatedEntityChip Chip { get; set; } = default!;
}
