.app-expandable-audit-table {
    overflow-x: auto;
}

.app-expandable-audit-table ::deep .app-table {
    min-width: 980px;
}

.app-expandable-audit-table ::deep .app-table th,
.app-expandable-audit-table ::deep .app-table td {
    text-align: left;
}
