@namespace MediaEngine.Web.Components.Shared
@using System.Linq

<div class="@RootClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string RootClass => string.Join(" ", new[]
    {
        "playback-position-list",
        Class,
    }.Where(value => !string.IsNullOrWhiteSpace(value)));
}
