@namespace MediaEngine.Web.Components.Settings

<div class="tl-page activity-page">
    <AppTabs Elevation="0"
             Rounded="true"
             Class="settings-tab-strip activity-page__tabs">
        <AppTabPanel Text="Batches" Icon="@Icons.Material.Outlined.FolderCopy">
            <ActivityBatchExplorer />
        </AppTabPanel>
        <AppTabPanel Text="People" Icon="@Icons.Material.Outlined.People">
            <ActivityPeopleAudit />
        </AppTabPanel>
        <AppTabPanel Text="Events" Icon="@Icons.Material.Outlined.Timeline">
            <ActivityEventsLedger />
        </AppTabPanel>
    </AppTabs>

    <ActivityMaintenancePanel />
</div>
