@namespace MediaEngine.Web.Components.Settings
@inject IStringLocalizer<SharedStrings> L

<div class="tl-page">
    <AppPageState Kind="AppPageStateKind.Empty"
                  Icon="@Icons.Material.Filled.Wifi"
                  Title="@L["Connectivity_Title"].Value"
                  Message="@L["Connectivity_ComingSoon"].Value" />
</div>

@code {
}
