@namespace MediaEngine.Web.Components.Settings

@* Temporary placeholder for settings screens not yet implemented. *@

<div class="tl-page">
    <div class="tl-empty-state">
        <MudIcon Icon="@Icons.Material.Outlined.Construction"
                 Size="Size.Large"
                 Class="tl-empty-state__icon" />
        <MudText Typo="Typo.h6" Class="tl-empty-state__title">
            @Title
        </MudText>
        <MudText Typo="Typo.body2" Class="tl-empty-state__description">
            @Description
        </MudText>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Coming Soon";
    [Parameter] public string Description { get; set; } = "This settings screen is under construction.";

}
